# config
.eslintrc.js
jest-setup.js
**/*config.js

# git
.gitkeep

#bin
/bin

# examples
/examples

# testing
__tests__/e2e
__tests__/e2e-build

# dist files
picture.js
picture.d.ts
image.js
image.d.ts
legacy
remote-image.js
remote-image.d.ts
remote-picture.js
remote-picture.d.ts
