# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# production
dist

# testing
/coverage
/__tests__/results

# next.js
.next
out

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# custom
.eslintcache
tsconfig.*tsbuildinfo
