# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# production
dist

# testing
/coverage
/__tests__/cli/image-optimize/fixtures/results
/__tests__/cli/cache/.cache
/__tests__/cli/cache/results
/__tests__/components/image/manifest/manifest.json
/__tests__/components/image/external-images/manifest.json
/__tests__/e2e/out

# benchmark
/bench/fixtures/results

# next.js
.next
out

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# custom
.eslintcache
tsconfig.*tsbuildinfo
